.BookProduct {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Dropdown {
  padding-bottom: 20px;
}

.Confirmation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.Confirmation button {
  margin: 5px;
}
